<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://hermes.dio.me/tracks/afebe5ed-2b18-438a-95b0-2c971e9aeff9.png"
      cardTitle="Santander Bootcamp 2023 - Fullstack Java+Angular"
      cardDescription="Santander realiza novo bootcamp em parceria com a DIO"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Potência Tech powered by iFood | Ciência de Dados"
      photoCover="https://hermes.dio.me/tracks/f5dba255-da18-427a-a02a-ca11a339c1cd.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Fundação Bradesco - Trilha de Conhecimento | Linguagem de Programação Python"
      photoCover="https://agazetaempregosmg.com.br/images/fundacao_bradesco.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Instituto Federal Rio Grande do Sul | Certificado de Banco de Dados 1: fundamentos"
      photoCover="https://aprendamais.mec.gov.br/pluginfile.php/389787/course/overviewfiles/database-storage.png"
    >
    </app-small-card>
  </div>
</div>
