<div class="container__menu-bar">
  <ul>
    <li>
      <img src="assets/icons/github.ico" alt="GitHub Icon">
      <a href="https://github.com/lucascbarone" target="_blank">Github</a>
    </li>
    <li><span>•</span></li>
    <li>
      <img src="assets/icons/dio.ico" alt="DIO Icon">
      <a href="https://web.dio.me/users/lucascbarone" target="_blank">DIO</a>
    </li>
    <li><span>•</span></li>
    <li>
      <img src="assets/icons/linkedin.ico" alt="LinkedIn Icon">
      <a href="https://linkedin.com/in/lucascbarone" target="_blank">Linkedin</a>
    </li>
    <li><span>•</span></li>
    <li>
      <img src="assets/icons/whatsapp.ico" alt="WhatsApp Icon">
      <a href="https://wa.me/5519997582104" target="_blank">WhatsApp</a>
    </li>
    <li><span>•</span></li>
    <li>
      <img src="assets/icons/telegram.ico" alt="Telegram Icon">
      <a href="https://t.me/birutex" target="_blank">Telegram</a>
    </li>
    <li><span>•</span></li>
    <li>
      <img src="assets/icons/outlook.ico" alt="Outlook Icon">
      <a href="mailto:lucascbarone@hotmail.com" target="_blank">Outlook</a>
    </li>
    <li><span>•</span></li>
    <li>
      <img src="assets/icons/gmail.ico" alt="Gmail Icon">
      <a href="mailto:lucascaliento@gmail.com" target="_blank">Gmail</a>
    </li>
  </ul>
</div>
